@page "/forandring"
@inject SignalRService SignalRService

<h3>Change</h3>

@code {





    private class emotionCard
    {
        private string Image { get; set; }
        private string Title { get; set; }
        private string redirect { get; set; }
    }

}
