
<div class="header">
    <button @onclick="GoBack" class="back-button">
        <i class="fa-solid fa-arrow-left"></i>
        </button>
    <h1 class="header-title">noget endnu længere</h1>
</div>

@code {
    private void GoBack()

    {


    }
}

