<div class="text-white p-3 border-0 rounded bg-dark">
    <img src="/images/FC2.jpg" alt="Alternate Text" class="img-fluid mb-2" />
    <h2>Selvomsorg</h2>
    <p>Det sikre sted, øvelse m.m.</p>
</div>

@code {

}
