<nav>
    <ul class="">
        <li><a href="/">MYFLOW</a></li>
        <li><a href="/counter">FLOWCOACH</a></li>
        <li><a href="/fetchdata">BODYFLOW</a></li>
        <li><a href="/counter">FLOWJOURNAL</a></li>
    </ul>
</nav>