<nav class="">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
            <i class="fa-solid fa-dharmachakra"></i>
            MYFLOW
            </a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="/counter">
            
            FLOWCOACH
            </a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="/fetchdata">
            
            BODYFLOW
            </a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="/counter">
            
            FLOWJOURNAL
            </a>
            </li>
    </ul>
</nav>