@* BottomNavBar.razor *@

@inject NavigationManager NavigationManager

<div class="bottom-nav fixed-bottom container-fluid pt-2">
    <div class="">
        <div class="row text-center">
            @foreach (var link in links)
            {
                <div class="col">
                    <!--Why wont the onclick work?!-->    <a @onclick="@(e => NavigationManager.NavigateTo(link.Uri))" class="nav-link nav-element">
                        <i class="@link.icon"></i>
                        <p>@link.Text</p>
                    </a>
                </div>
            }
        </div>
    </div>
</div>




@code
{
    private static readonly IList<Link> links = new List<Link>
    {
        new Link { Uri = "#myflow" , Text = "MyFlow", icon = "fa-solid fa-user" },
        new Link { Uri = "/home" , Text = "FlowCoach", icon = "fa-solid fa-grid-2" },
        new Link { Uri = "/bodyflow" , Text = "BodyFlow", icon = "fa-solid fa-dharmachakra" },
        new Link { Uri = "/flowjournal" , Text = "FlowJournal", icon = "fa-solid fa-book" },

    };

    public void Navigate(string uri)
    {
        Console.WriteLine("Navigating to " + uri);
        NavigationManager.NavigateTo(uri, true);
    }

    private class Link     {
        public string Uri { get; set;}
        public string Text { get; set; }
        public string icon { get; set; }
    }
}
sssss
